*
{
padding:0;
margin:0;

}
html
{
height:100%;
}
body
{
background-image:url("g.jpg");
/* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.heading
{
text-align:center;
padding:20px;
}
